## Data is from
(Crashes) - https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if

(People) - https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d

(Vehicles) - https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3

Imports

In [1]:
import pandas as pd

pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 55)

Load Data

In [2]:
vehicles =pd.read_csv('../data/Traffic_Crashes_Vehicles.csv', low_memory = False)
#crashes =pd.read_csv('../data/Traffic_Crashes_Crashes.csv', low_memory = False)
#people =pd.read_csv('../data/Traffic_Crashes_People.csv', low_memory = False)

Going to work on cleaning up vehicles first

In [3]:
vehicles.head()

,CRASH_UNIT_ID,UNIT_TYPE,UNIT_NO,CRASH_RECORD_ID,CRASH_DATE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,TOWED_I,FIRE_I,OCCUPANT_CNT,EXCEED_SPEED_LIMIT_I,FIRST_CONTACT_POINT
0,1671381,DRIVER,1,bc8e45d4c952022abc487ba5348cba50c718cb126124101aaf1...,09/30/2023 12:03:00 AM,1.0,1590723.0,NaN,CHEVROLET,MALIBU,IL,2019.0,NONE,PASSENGER,UNKNOWN/NA,W,BACKING,NaN,NaN,2.0,NaN,FRONT
1,1671382,DRIVER,2,bc8e45d4c952022abc487ba5348cba50c718cb126124101aaf1...,09/30/2023 12:03:00 AM,NaN,1590727.0,NaN,CHRYSLER,300,IL,2022.0,NONE,PASSENGER,PERSONAL,W,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,SIDE-LEFT
2,1671383,DRIVER,3,bc8e45d4c952022abc487ba5348cba50c718cb126124101aaf1...,09/30/2023 12:03:00 AM,NaN,1590729.0,NaN,CHEVROLET,MALIBU,IL,2014.0,NONE,PASSENGER,PERSONAL,W,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,FRONT-LEFT-CORNER
3,1671384,DRIVER,1,ba4f70f1304e4b2d36582660bce4a56cda9efc723a95a667a06...,09/29/2023 11:11:00 PM,NaN,1590722.0,NaN,UNKNOWN,OTHER (EXPLAIN IN NARRATIVE),IL,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,UNKNOWN,UNKNOWN/NA,NaN,NaN,1.0,NaN,UNKNOWN
4,1671385,PARKED,2,ba4f70f1304e4b2d36582660bce4a56cda9efc723a95a667a06...,09/29/2023 11:11:00 PM,NaN,1590724.0,NaN,TOYOTA,TUNDRA,IN,2007.0,NONE,PICKUP,NOT IN USE,S,PARKED,NaN,NaN,0.0,NaN,FRONT-LEFT-CORNER

looking into null values

In [4]:
vehicles.isnull().sum()

CRASH_UNIT_ID                 0
UNIT_TYPE                  2067
UNIT_NO                       0
CRASH_RECORD_ID               0
CRASH_DATE                    0
NUM_PASSENGERS          1331174
VEHICLE_ID                35627
CMRC_VEH_I              1533373
MAKE                      35632
MODEL                     35777
LIC_PLATE_STATE          175186
VEHICLE_YEAR             282273
VEHICLE_DEFECT            35627
VEHICLE_TYPE              35627
VEHICLE_USE               35627
TRAVEL_DIRECTION          35627
MANEUVER                  35627
TOWED_I                 1369900
FIRE_I                  1561237
OCCUPANT_CNT              35627
EXCEED_SPEED_LIMIT_I    1560110
FIRST_CONTACT_POINT       38728
dtype: int64

Going to drop some colums as I just want to look into the crash types

In [5]:
vehicles = vehicles.drop(columns = ['CMRC_VEH_I','CMRC_VEH_I','TOWED_I','FIRE_I','NUM_PASSENGERS'
                                    ,'EXCEED_SPEED_LIMIT_I', 'LIC_PLATE_STATE','VEHICLE_YEAR'])

In [6]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562507 entries, 0 to 1562506
Data columns (total 15 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CRASH_UNIT_ID        1562507 non-null  int64
 1   UNIT_TYPE            1560440 non-null  object
 2   UNIT_NO              1562507 non-null  int64
 3   CRASH_RECORD_ID      1562507 non-null  object
 4   CRASH_DATE           1562507 non-null  object
 5   VEHICLE_ID           1526880 non-null  float64
 6   MAKE                 1526875 non-null  object
 7   MODEL                1526730 non-null  object
 8   VEHICLE_DEFECT       1526880 non-null  object
 9   VEHICLE_TYPE         1526880 non-null  object
 10  VEHICLE_USE          1526880 non-null  object
 11  TRAVEL_DIRECTION     1526880 non-null  object
 12  MANEUVER             1526880 non-null  object
 13  OCCUPANT_CNT         1526880 non-null  float64
 14  FIRST_CONTACT_POINT  1523779 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 178.8+ MB

In [7]:
vehicles.isna().mean()

CRASH_UNIT_ID          0.000000
UNIT_TYPE              0.001323
UNIT_NO                0.000000
CRASH_RECORD_ID        0.000000
CRASH_DATE             0.000000
VEHICLE_ID             0.022801
MAKE                   0.022804
MODEL                  0.022897
VEHICLE_DEFECT         0.022801
VEHICLE_TYPE           0.022801
VEHICLE_USE            0.022801
TRAVEL_DIRECTION       0.022801
MANEUVER               0.022801
OCCUPANT_CNT           0.022801
FIRST_CONTACT_POINT    0.024786
dtype: float64